<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('./partials/head.ejs', ) %>
  <!-- This is my nav bar now -->
  <%- include ('./partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <h1 class="title">Artist Show page</h1>
      </div>
    </section>
  </body>
</html>