<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('./partials/head.ejs', ) %>
  <!-- This is my nav bar now -->
  <%- include ('./partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <h1 class="title">Artist index Page</h1>
      </div>
    </section>
    <div class="columns" is-info >
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>
  </body>
</html>