<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('./partials/head.ejs', ) %>
  <!-- This is my nav bar now -->
  <%- include ('./partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <h1 class="title">Home page</h1>
      </div>
    </section>
    <div class="columns is-info">
            <div class="column is-one-third" >
              <a class ="button is-info"  href="/players" >Checkout New Player</a>
            
            </div>
            <div class="column is-one-third is-info">
            Check Our Player
            </div>
            <div class="column is-one-third">
            Team
            </div>
      </div>

      </body>
      </html>
        