<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('./partials/head.ejs', ) %>
  <!-- This is my nav bar now -->
  <%- include ('./partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <h1 class="title">Home page</h1>
      </div>
    </section>
    <div class="columns is-info">
            <div class="column is-one-third">
            Checkout New Art
            </div>
            <div class="column is-one-third is-info">
            Check Our Artist
            </div>
            <div class="column is-one-third">
            Category
            </div>
      </div>

  </body>
</html>
