<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
<%- include ('./partials/head.ejs', ) %>
  <!-- This is my nav bar now -->
 <%- include ('./partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <h1 class="title">New Art Form</h1>
      </div>
    </section>
    <form action="/artwork" method = "POST">
        <div class="container ">
            <div class= "box is-info is-outlined">
                <div class = "field">
                    <label>Name</label>
                    <input class = "input" type ="text" placeholder="Text input">   
                </div>
                <div class = "field">
                    <label>Artist</label>
                    <input class = "input" type ="text" placeholder="Text input">   
                </div>
                <div class = "field">
                    <label>Medium</label>
                    <input class = "input" type ="text" placeholder="Text input">   
                </div>
                <div class = "field">
                    <label>Date</label>
                    <input class = "input" type ="text" placeholder="Text input">   
                </div>
                <div class = "field">
                    <label>Image</label>
                    <input class = "input" type ="text" placeholder="Text input">   
                </div>
                <div class="field is-grouped">
                    <p class="control">
                    <a class="button is-info">
                        Submit
                    </a>
                    </p>
                <p class="control">
                <a class="button is-light">
                    Cancel
                </a>
                </p>
            </div>  
        </div>
    </div>
    </form>
  </body>
</html>